jquery/Service References/TService/TooltipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTooltip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTooltipResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTooltipSoapIn">
    <wsdl:part name="parameters" element="tns:GetTooltip" />
  </wsdl:message>
  <wsdl:message name="GetTooltipSoapOut">
    <wsdl:part name="parameters" element="tns:GetTooltipResponse" />
  </wsdl:message>
  <wsdl:portType name="TooltipServiceSoap">
    <wsdl:operation name="GetTooltip">
      <wsdl:input message="tns:GetTooltipSoapIn" />
      <wsdl:output message="tns:GetTooltipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TooltipServiceSoap" type="tns:TooltipServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTooltip">
      <soap:operation soapAction="http://tempuri.org/GetTooltip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TooltipServiceSoap12" type="tns:TooltipServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTooltip">
      <soap12:operation soapAction="http://tempuri.org/GetTooltip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TooltipService">
    <wsdl:port name="TooltipServiceSoap" binding="tns:TooltipServiceSoap">
      <soap:address location="http://localhost:53564/TooltipService.asmx" />
    </wsdl:port>
    <wsdl:port name="TooltipServiceSoap12" binding="tns:TooltipServiceSoap12">
      <soap12:address location="http://localhost:53564/TooltipService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>